<STYLE>
        /*reset*/
        blockquote, body, dd, dir, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, legend, menu, ol, optgroup, p, pre, tbody, td, textarea, tfoot, th, thead, ul {
            margin: 0;
            padding: 0
        }

        ol, ul {
            list-style-type: none;
            list-style-image: none
        }

        body, button, input, select, textarea {
            -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
            text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 400
        }

        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        }

        body {
            background: #F6F5F7;
        }

        .beatHeader {
            background: #494A4D;
            height: 50px;
            width: 100%;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }

        .beatMain {
            padding: 0 16px;
            position: relative;
            z-index: 2;
        }

        .beatMain .imgContainer {
            padding: 0 16px;
            text-align: center;
			margin-top: 30px;
        }

        .beatMain .imgContainer img {
            width: 100%;
            height: auto;
            margin-top: -16px;
            box-shadow: 0px 3px 12px rgba(21, 0, 71, 0.16);
        }

        .beatMain .moonTitleContainer {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 16px;
        }

        .beatMain .moonTitleContainer span {
            color: #FF5500;
            margin-right: 16px;
        }

        .beatMain .itemContent {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.80);
            line-height: 21px;
            text-align: left;
            margin-bottom: 10px;
        }

        .beatMain .itemPrice {
            font-family: STHeitiSC-Light;
            font-size: 16px;
            color: #FF5500;
            line-height: 16.5px;
            text-align: right;
            margin-bottom: 10px;
        }

		.beatMain .itemTips{font-size:12px;color:rgba(0,0,0,.4); text-align:center;}
		.beatWord{ text-align: center; }
		.beatWord fieldset { padding: 0em;  margin: 0 2px; border: 1px solid #c0c0c0;     background: #fff; }
		.beatWord fieldset legend {  background: #f54d23;  border: none; font-size: 0.8rem;  letter-spacing: 2px;  line-height: 20px;  color: #fff;  }
		.beatWord button { border: none; font-size: 16px;  padding: 6px 15px;  background: #f60;  display: inline-block;  margin: 10px auto;  border-radius: 16px;  color: #fff;  }
</STYLE>